table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td , table th{
   
    padding: 10px;
    min-height: 160px;

}

img{
    height: 100px;
    width: 100px;
}
.update-button{
    margin-left: 15px;
}

.bg-info{
    background-color: transparent !important;
}