.signup h1{
    margin-top: 80px;
    margin-bottom: 50px;
    color: var(--primary-color);
}

.signup {
    text-align: center;
}

.signup p {
    color: red;
}

.auth-a{
    color: var(--primary-color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

