.product-home-img {
    object-fit: contain;
    height: 600px;
    width: 100%;
}
.banner-wrapper{
    width: 100%;
}
.carousel-inner {

    margin-top: 30px;
}

.product-item img {
    width: 100%;
    object-fit: contain;
    height: 300px;
}

.product-list-wrapper {
    margin-bottom: 80px;
    margin-top: 80px;
}

.product-item {
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 15px;
}

.product-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-price h6{
    font-size: 13px;
}
.product-price {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-around;
    padding: 10px;
}

.product-item .product-details h6 {
    text-align: center;
}

.product-item .product-details {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

h6.name-head {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.product-item .name-head {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.product-footer a {
    text-decoration: none;
}

.tag {
    position: absolute;
    rotate: -28deg;
    background: red;
    top: -284px;
    left: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-weight: 700;
    color: white;
    font-size: 13px;
    padding: 0 10px;
}