<div class="update-products">
    <h1>Add Update Products</h1>
    <p class="addmessage">{{productUpdatemessage}}</p>

    <form class="common-form" #addproducts="ngForm" (ngSubmit)="submit(addproducts.value)">
        <input class="form-input" name="name" ngModel="{{productData?.name}}" type="text" placeholder="Enter Product Name">
        <input class="form-input" name="price" ngModel="{{productData?.price}}" type="text" placeholder="Enter Product Price">
        <input class="form-input" name="category" ngModel="{{productData?.category}}" type="text" placeholder="Enter category">
        <input class="form-input" name="color" ngModel="{{productData?.color}}" type="text" placeholder="Enter color">
        <textarea class="form-input" name="description" ngModel="{{productData?.description}}" type="text" placeholder="Enter Description"></textarea>
        <input class="form-input" name="image" ngModel="{{productData?.image}}" type="text" placeholder="Enter Product image URL">
        <button class="form-button">Update Product</button>
    </form>
</div>